footer {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  height: 3em;  
  background-color: rgb(137, 131, 131);      
  display: flex;
  justify-content: center;   
}

i {
  font-size: 3em;
  background-color:transparent;
  color:white;
  padding: 3px 5px;
  margin: 3px 8px;
}