/* .footer {
    background: #f9b713;
    height: 20px;
    min-height: 100vh;
  }
  
  .footer h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
   */